#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: #FAF7F2;
    text-align: center;
}


.logo {
    color: #2B2A28;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu-link {
    color: #5B564C;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    transition: color 0.3s ease;

}